includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 5
    paths:
        - Debug/
        - Exceptions/
        - Filesystem/
        - RegExp/
        - System/
        - Vars/
    # Note: macroses/ excluded from analysis - legacy functions need complete rewrite
    # TODO: Rewrite macroses as modern PHP functions or remove entirely
