<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Описание класса шаблонизатора</title>
<link rel="stylesheet" href="man_styles.css" type="text/css">
</head>

<body>
<h1>Модульность и модули класса шаблонизатора</h1>

<p>Шаблонизатор поддерживает модульную структуру и загрузку модулей, "налету".
<p>Необходимая структура модулей, входные и выходные параметры, а также размещение и конфигурация:

<table border=1 width=95% align=center>
<caption><h2>Оформление модулей:</h2></caption>
	<tr>
		<td>Модуль представляет из себя файл, содержащий функцию<sup>1</sup>, написанную на PHP, с входными и выходными параметрами, описанными ниже.
			<br>Файл должен называться <b>&lt;module_name&gt;.tmod</b> . Расширение <b>tmod</b>, постоянно и обязательно.
			<br>Располагаться такой файл должен в директории modules, основной директории шаблона.
			<br>Если такой файл не найден, будет сгенерирована ошибка и работа шаблонизатора прервана.
			<br>В данном файле обязательно должна быть функция, оформленная по простым правилам, описанным ниже, с именем <b>module_name</b>
</table>

<table border=1 width=95% align=center>
<caption><h2>Входные параметры:</h2></caption>
	<tr>
		<th>obj &template
		<td>Ссылка на главный <a href=template_man.htm>объект шаблона</a>, нужна не всегда, передается обязательно.
	<tr>
		<th>array &matches
		<td>Ссылка на массив совпадений, найденных в шаблоне и сопоставленных для данного модуля.
			<br>Имеет следующую структуру:
			<br><i>$matches[0]</i> - Полный текст совпадения тега, со всеми вложениями
			<br><i>$matches[1]</i> - При нормальной ситуации, должен начинаться со знака "+"
			<br><i>[$matches[2-7]]</i> - Все <u>необязательные</u> параметры тега модуля, которые были указаны в шаблоне<sup>2</sup>. Передаются "как есть", без анализа и обработки.
</table>

<table border=1 width=95% align=center>
<caption><h2>Выходные параметры:</h2></caption>
	<tr>
		<th>Модуль должен вернуть строку!, или любойдругой тип, к ней приводимый, которая будет вставлена вместо его тега.
</table>

<table>
<!--Сноски и комментарии -->
	<tr>
		<td colspan=2><hr><hr>
	<tr>
		<th><sup>1</sup> -
		<td>В каждом файле модуля должна быть исключительно одна функция модуля! При необходимости, для него в этом же файле могут находиться другие используемые им функции, классы и т.д., но они не могут быть использованы отлдельно как модули в шаблоне.
	<tr>
		<th><sup>2</sup> -
		<td>Внимание! Все проверки на количество и корректность параметров, если такие нужны, должны быть обеспечены в самом модуле! При необходимости, нужно заполнять массив errors, главного объекта. Строго приветствуется использование методов главного шаблона для парсинга.
</table>
</body>
</html>